extends layout


block content
  include navbar
  +navbar(user, alerts, "horaire-plancher")
  include utilities

  mixin buildCell(celldata)
    td&attributes(celldata.attributes)= celldata.content
  
  mixin buildRow(rowdata)
    tr 
      - for(celldata of rowdata){
        +buildCell(celldata)
      - }
  
  mixin buildTable(data)
    table
      -for(rowdata of data){
        +buildRow(rowdata)
      -}

  mixin dateSelector(id, date, datePrev, dateNext)
    .dateSelector 
      a(href=`horaire-plancher?id=${id}&date=${datePrev}`).tuile.tuile-sm
          p= "<<"
      p.input-dark.tuile-sm= date
      a(href=`horaire-plancher?id=${id}&date=${dateNext}`).tuile.tuile-sm
          p= ">>"

  mixin floorSelector(floors, selectedFloorId)
    label(for=floorSelector) Plancher sélectionné 
    select.floor-selector.input-dark#floorSelector
      -for(floor of floors){
        -if(selectedFloorId == floor.id){
          option(value=floor.id selected)= floor.nom
        -}else{
          option(value=floor.id)= floor.nom
        -}
      -}

  mixin shiftFormModal(editShiftData)
    .modal#edit-shift-modal 
      .modal-dialog.container-dark
        form(action=`/horaire-plancher?${editShiftData.qs}` method="post")#edit-shift-form
          .modal-content.d-flex.flex-column.gap-2
            input(type="hidden" name="idQuartTravail")#idQuartTravail
            input(type="hidden" name="idPlancher")#idPlancher
            input(type="hidden" name="idUtilisateur")#idUtilisateur
            input(type="hidden" name="confirme")#confirme
            input.input-dark#inputUsername(type=text placeholder="Username..." readonly name="username")
            input.input-dark#inputShiftStart(type="datetime-local" name="debut")
            +errorLabel(editShiftData.shiftErrors.errorStart2, "errorStart")
            input.input-dark#inputShiftEnd(type="datetime-local" name="fin")
            +errorLabel(editShiftData.shiftErrors.errorEnd2, "errorEnd")
            select.input-dark#selectRole(name="idRoleUtilisateur")
            +errorLabel(editShiftData.shiftErrors.errorRole2, "errorRole")
            span.lbl-confirm#confirmMsg
            .row.p-2.gap-2
              input(type="submit", value="Modifier").btn-dark.col#btnSend
              button(value="Annuler").btn-dark.col#btnCancel Annuler
            button(value="Supprimer").btn-dark.col#btnDelete Supprimer

        
          
  
  .container
    h1 Horaire plancher
    +floorSelector(data.planchers, data.plancherSelectionne.id)
    +dateSelector(data.plancherSelectionne.id, data.date, data.datePrev, data.dateNext)
  .container.table-container-plancher
    +buildTable(tableData)
  +shiftFormModal(editShiftData)
  - const dateLoc = data.date;
  script(src="./scripts/horaire/EditShiftForm.js") 
  script.
    const allRoles = !{JSON.stringify(data.allRoles)};
    const editShiftData = !{JSON.stringify(editShiftData)};
  script(src="./scripts/horaire/horaire-plancher.js" defer) 
  script(defer).
    const date = !{JSON.stringify(data.date)};
    $(document).ready(() => {
      const floorSelector = $("#floorSelector")
      floorSelector.val(!{JSON.stringify(data.plancherSelectionne.id)});
      floorSelector.change(() => {
        window.location.href = `horaire-plancher?id=${floorSelector.val()}&date=${date}`
      });
      const editShiftData = !{JSON.stringify(editShiftData)};
      if (editShiftData.showModal){
        console.log("Allo");
        console.log(editShiftData.shiftData);
        if(editShiftData.shiftData.workShift.idQuartTravail == -1){
          editShiftForm.addShift(editShiftData.shiftData.workShift, editShiftData.shiftData.user);
        }else{
          editShiftForm.editShift(editShiftData.shiftData.workShift, editShiftData.shiftData.user);
        }
        
        editShiftForm.fillErrors(editShiftData.shiftErrors);
        editShiftForm.fillMsg(editShiftData.msg);
      }
    });